@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply text-turquoise-300;
    @apply font-varela;
    @apply z-10;
    @apply relative;
    @apply font-bold;
  }

  h1 {
    @apply text-[1.5em] md:text-[2em];
  }

  h2 {
    @apply text-[1.3em] md:text-[1.8em];
  }

  h3 {
    @apply text-[1.2em] md:text-[1.5em];
  }

  h4 {
    @apply text-[1.1em] md:text-[1.3em];
  }

  h5 {
    @apply md:text-[1.15em];
  }

  .link {
    @apply hover:text-turquoise-700 hover:border-b-2 hover:border-turquoise-700 text-slate-400;
  }

  .link.selected {
    @apply text-offWhite border-b-2 hover:text-offWhite;
  }

  .profile {
    @apply rounded-2xl px-2 py-1 self-center text-center m-2 grow text-offWhite max-w-[80%] mx-auto;
  }

  .profile h3 {
    @apply text-offWhite sm:text-3xl md:text-4xl lg:text-2xl;
  }

  .profile img {
    @apply shadow-[0_25px_50px_-12px_rgba(0,0,0,0.5)] border-2 border-dark md:w-[255px] md:h-[255px] lg:w-[160px] lg:h-[160px] aspect-square;
  }

  .profile p {
    @apply mb-[2%];
  }

  .profile p,
  .profile i {
    @apply sm:text-lg md:text-2xl lg:text-base;
  }

  i.fab,
  i.fas {
    @apply hover:text-turquoise-700;
  }

  #toc li {
    @apply text-gray-500 hover:text-turquoise-700;
  }

  #toc .selected {
    @apply text-offWhite;
  }

  #toc .bullet {
    @apply bg-bgGray;
  }

  #toc a:hover .bullet {
    @apply bg-turquoise-800;
  }

  #toc .selected .bullet {
    @apply bg-turquoise-700;
  }

  article figcaption {
    @apply text-sm text-gray-500;
  }

  article strong {
    @apply text-offWhite;
  }

  .tab {
    @apply text-gray-500 hover:text-turquoise-700 hover:border-b-2 hover:border-turquoise-700 cursor-pointer;
  }

  .tab.selected {
    @apply text-offWhite border-b-2 border-offWhite;
  }

  .hljs {
    @apply text-gray-300 bg-black;
  }

  /* .full-visual {
    @apply xl:max-h-[800px] lg:w-[calc(100vw-464px)] lg:max-h-[540px] aspect-[1.414/1] relative;
  }

  .full-visual video,
  .full-visual img {
    @apply 2xl:left-[-185px] h-full absolute xl:left-[-10vw] lg:left-[-7vw] aspect-auto;
  } */

  .right-visual {
    @apply xl:min-h-[300px] xl:min-w-[250px] xl:w-[calc(95vw-864px)] 2xl:w-[500px] xl:float-right xl:max-w-[500px];
  }

  .right-visual video,
  .right-visual img {
    @apply xl:absolute xl:aspect-auto xl:w-full xl:left-[3.5vw] 2xl:left-[7.5vw];
  }

  .left-visual {
    @apply xl:min-h-[300px] xl:max-w-[500px] xl:min-w-[250px] xl:w-[calc(95vw-864px)] 2xl:w-[500px];
  }

  .left-visual video,
  .left-visual img {
    @apply 2xl:left-[-185px] xl:w-full xl:absolute xl:left-[-10vw] xl:aspect-auto;
  }

  .figure {
    @apply sm:max-md:w-full;
  }
}

html {
  scroll-behavior: smooth;
}

.link {
  padding: 1.25rem 0;
  margin-left: 2rem;
}

h1,
h2,
h3,
h4 {
  margin-top: 1.2em;
}

h2 {
  margin-bottom: 0.888889em;
  line-height: 1.111111;
  margin-top: 5rem;
}

h3 {
  margin-bottom: 0.666667em;
  line-height: 1.333333;
}

h4 {
  font-weight: 600;
  margin-bottom: 0.6em;
  line-height: 1.6;
}

h5 {
  font-weight: 500;
  margin-bottom: 0.5em;
  line-height: 1.7;
}

#toc {
  padding: 2rem 1rem;
}

#toc li {
  margin-bottom: 1.5em;
  line-height: 1.25em;
}

#toc .subitem {
  display: none;
  margin-left: 1.625em;
}

#toc .show {
  display: block;
}

#toc p {
  font-weight: 500;
  margin-left: 0.75em;
}

#toc a > div {
  align-items: center;
  display: flex;
}

#toc .bullet {
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 0.4em;
  width: 0.4em;
  min-width: 0.4em;
}

article p {
  margin-top: 0;
  margin-bottom: 1.2em;
  position: relative;
  z-index: 1;
}

article h1::before,
article h2::before,
article h3::before,
article h4::before,
article h5::before {
  display: block;
  content: " ";
  margin-top: -4rem;
  height: 4rem;
  visibility: hidden;
  pointer-events: none;
}

article figure {
  margin: 1em 0;
}

article img,
article video {
  max-width: 100%;
  margin: 0 auto;
  pointer-events: none;
}

article figcaption {
  text-align: center;
}

article em {
  font-style: italic;
}

article ul {
  list-style: circle;
  margin-bottom: 1.2em;
}

article li {
  margin-left: 2em;
  margin-bottom: 0.5em;
  position: relative;
  z-index: 1;
}

article small {
  font-size: 0.5em;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  aspect-ratio: 1 / 0.12;
}

/* .social li {
  width: 20%;
  aspect-ratio: 1 / 1;
} */

/* .social li i {
  font-size: 2rem;
} */

#use-cases .tab {
  padding: 0.5em;
}

#use-cases #code-block {
  min-width: 90ch;
}

#use-cases pre {
  display: none;
}

#use-cases pre.show {
  display: block;
}

#use-cases code {
  padding: 0 4ch;
}

:root {
  --light: #b0faf1;
  --bright: #7effe2;
  --dim: #135d66;
  --dark: #003c43;
}

.hljs-keyword,
.hljs-literal,
.hljs-title {
  color: var(--bright);
}

.hljs-variable {
  color: #fafffa;
  font-weight: 500;
}

.hljs-attr,
.hljs-property,
.hljs-string {
  font-weight: 600;
}

.hljs-title {
  font-weight: 500;
}

.hljs-string {
  color: #3c648f;
}

.hljs-built_in,
.hljs-type {
  color: #d1d5db;
}

#gradient {
  background-image: linear-gradient(
    to top,
    rgba(0, 233, 202, 0.04),
    rgba(255, 0, 0, 0)
  );
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 75vh;
  pointer-events: none;
  z-index: 2;
}

.inset img {
  border-radius: 0.75rem;
}

.inset {
  border-radius: 0.75rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.inset::after {
  box-shadow: inset 0 10px 20px 0 rgb(0 0 0 / 0.3);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 0.75rem;
  pointer-events: none;
}

/* figcaption {
  display: none;
} */

article ol {
  list-style-type: decimal;
  margin-bottom: 1rem;
}

#top > div:nth-of-type(1) > div:first-of-type,
#top > div:nth-of-type(3) > div:first-of-type {
  background: radial-gradient(ellipse at top, #304a66, transparent),
    radial-gradient(ellipse at bottom, rgba(17, 24, 39, 1), transparent);
}

#top > div:nth-of-type(2) > div:first-of-type,
#top > div:nth-of-type(4) > div:first-of-type {
  background: radial-gradient(
      ellipse at top,
      rgba(0, 233, 202, 0.09),
      transparent
    ),
    radial-gradient(ellipse at bottom, rgba(17, 24, 39, 1), transparent);
}

/* #logo {
  shape-outside: inset(50%);
  top: 50vh;
  transform: translate(0, -50%);
} */

#top > div:nth-of-type(2),
#team {
  box-shadow: inset 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

#team::after {
  background-color: #111827;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
  transform: translateZ(-10px);
}

#team {
  background: radial-gradient(
      ellipse at top,
      rgba(0, 233, 202, 0.06),
      transparent
    ),
    radial-gradient(ellipse at bottom, rgba(17, 24, 39, 1), transparent);
  transform-style: preserve-3d;
}

h2 strong {
  color: #7effe2;
}

pre,
code {
  height: 100%;
}
